@model List<CartItem>

@{
    ViewData["Title"] = "Cart page";
}

@if(Model.Count == 0)
{
    <div class="text-center">
        <h1>Your cart is empty! </h1>
        <hr />
        <a asp-controller="Home" asp-action="Products">Continue shopping</a>
    </div>
}
else
{
    <div class="text-center">
        <h1>Cart items</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-danger" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                            Remove
                            </a>
                    </td>
                    <td>@item.Product.Title</td>
                    <td>@item.Product.Price.ToString("0.00") €</td>
                    <td>@item.Quantity</td>
                    <td>@item.GetTotal().ToString("0.00") €</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bold"> Total price: @ViewBag.TotalPrice.ToString("0.00") € </td>
            </tr>

        </tbody>
    </table>
    <hr />
    <a class="btn btn-primary btn-lg float-lg-start" asp-controller="Home" asp-action="Products"> Continue shopping</a>
    <a class="btn btn-success btn-lg float-lg-end" asp-controller="Home" asp-action="Order">Order products</a>
}